<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-icon name="planet"></ion-icon> Reloj astronómico</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="content">

    <div class="data">
        <p><b><ion-icon name="sunny"></ion-icon> Constelación del sol: </b>{{ sunConstelation }}</p>
        <p><b><ion-icon name="moon"></ion-icon> Constelación de la luna: </b>{{ moonConstelation }}</p>
        <p><b>Fase de la luna:</b> {{ fase }} ({{ lunationPerCent?.toFixed(2) }}%
            <ion-icon *ngIf="lunationAngle > 180" name="arrow-down"></ion-icon>
            <ion-icon *ngIf="lunationAngle <= 180" name="arrow-up"></ion-icon>)
        </p> 
    </div>

<div class="container">
    <div class="relative">
        <img class="absolute" style="z-index:1" src="assets/Capa1.svg" />
        <img class="absolute" style="z-index:2" [style.transform]="'rotate('+((-136.5 - sunAngle) % 360)+'deg)'" src="assets/Capa2.svg" />
        <img class="absolute" style="z-index:3" [style.transform]="'rotate('+(((-180 + lunationAngle - moonAngle)) % 360)+'deg)'" src="assets/Capa3.svg" />
        <img class="absolute" style="z-index:4" [style.transform]="'rotate('+((-90 - moonAngle) % 360)+'deg)'" src="assets/Capa4.svg" />
        <img class="absolute" style="z-index:5" src="assets/Capa5.svg" />
    </div>
</div>
<div class="filter">
    <button ion-button color="dark">
        <ion-datetime 
            cancelText="Volver a tiempo real"
            doneText="Seleccionar"
            placeholder="Ahora"
            min="1600-01-01"
            max="2100-12-31"
            (ionCancel)="realTime()"
            [displayFormat]="timeStart ? 'MMM DD YYYY h mm' : 'RT'"
            (change)="initInterval()"
            pickerFormat="MMM DD YYYY h mm"
            [(ngModel)]="timeStart">
        </ion-datetime>
    </button>
</div>
</ion-content>
